.box-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-layout__box {
    display: flex;
    flex-direction: column;
    background: #fefefe;
    padding: $l-size;
    margin: $l-size;
    text-align: center;
    border: $light-green;
    border-style: solid;
    border-width: thin;
    width: 75rem;
    justify-content: center;
    align-items: center;
}

.box-layout__title {
    display: flex;
    font-size: $font-size-xxlarge;
    font-weight: 300;
    color: $dark-grey;
    margin-bottom: 20px;
}

.box-layout__bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-large;
    font-weight: 300;
    color: $grey;
    margin-bottom: 20px;
}