.header {
    background: #fefefe;
    border-bottom: thin solid #dbcece;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size;
    a:hover, a:visited, a:link, a:active {
        text-decoration: none;
        color: $dark-grey;
    }
}

.header__title {
    color: $grey;
    h1 {
        margin: 0;
    }
    a:hover, a:visited, a:link, a:active {
        text-decoration: underline;
    }
}