.text-input {
    border: none;
    border-bottom: 1px solid #cacccd;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-medium;
    font-weight: 300;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
//    width: 100%;
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}