.page-header {
    background: $off-white;
    margin-bottom: $s-size;
    padding: $m-size;
}

.page-header__actions {
    margin-top: $m-size;
}

.page-header__title {
    color: $grey;
    text-align: center;
    font-weight: 300;
    margin: 0;
    span {
        font-weight: 700;
    }
}

//PAYOFF
.payoffpage-header {
    background: $light-blue;
    margin-bottom: $s-size;
    padding: $m-size;
}

//SAVEFOR
.saveforpage-header {
    background: $light-orange;
    margin-bottom: $s-size;
    padding: $m-size;
}

//BILL
.billpage-header {
    background: $light-yellow;
    margin-bottom: $s-size;
    padding: $m-size;
}